.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 20px;
}

.news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    align-content: center;
    max-width: 1140px;
    margin: 0 auto;
}