.navbar {
    background-color: var(--primary-color);
    height: 50px;
    color: var(--text);
    font-size: 1.3rem;
    position: sticky;
    top: 0;
}

.container {
    display: grid;
    grid-template-columns: 30% auto auto auto auto;
    align-content: center;
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
}

.link {
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
}

.active {
    color: var(--accent-color);
}